#script-viewer {
	margin:0;
	display: block;
	color: #ddd;
	z-index: 99998;
	overflow-y: scroll;
	background: #000;
	background: rgba(0,0,0,0.90);
	font-family:helvetica, sans-serif;
}
#script-viewer a{
	color:#f0f;
	text-decoration: underline;
}
#script-viewer a:hover, #script-viewer a:active{
	color:#9f0;
	font-style:italic;
}
#script-viewer a:visited {
	color:#f03;
	text-decoration: line-through;
}
#script-viewer * {
	color:#ddd;
	line-height:1.75em;
	text-align:left;
	word-wrap:break-word;
	margin:0;
	padding:0;
	font-family:helvetica, sans-serif;
}
#script-viewer #script-lists {
	display:block;
}
#script-viewer ul {
	padding:0;
	margin:0 0 15px 0;
	border-bottom:1px solid #666;
}
#script-viewer ul li {
	margin:0;
	padding:0;
	overflow:hidden;
	display:block;
}
#script-viewer ul li div {
	padding:5px 5px 5px 10px;
	margin-bottom:10px;
}
#script-viewer ul li.file div h3{
	font-size:15px;
	color:#6f6;
}
#script-viewer ul li.inline div h3{
	font-size:15px;
	color:#f6c;
}
#script-viewer ul li.removed div h3{
	
}
#script-viewer ul li div h3 span {
	font-weight:100;
	color:#ddd;
}
#script-viewer ul li div p {
	font-size:10px;
}
#script-viewer ul li.inline div p {
	color: #ffc;
}
#script-viewer ul li.inline div p span {
	color:#ddd;
}
#script-viewer ul li div p span {
	color:#ccc;
}
#script-viewer ul a {
	color:#6cf;
}
#script-viewer ul a:hover {
	color:#6ff;
}
#script-viewer ul h2 {
	text-align:center;
	font-size:21px;
	padding: 10px 0;
}
#script-info {
	text-align:center;
	border-bottom: 1px solid #666;
	background:#000;
	height:125px;
	padding-left:15px;
}
#script-info h2 {
	font-size:26px;
	font-weight:100;
	padding: 15px 0 0 0;
}
#script-info h3 {
	font-size:16px;
	font-weight:100;
}
#script-info h3 span {
	color:#0ff;
	font-weight:800;
}
#script-info h2 span {
	color:#f0f;
	font-weight:800;
}
#loading * {
	text-align: center;
	font-weight:100;
}
#loading {
	margin:125px 25px 25px 25px;
	padding:125px 0 0 0;
	background:url(../icons/b.sweat.128.png) no-repeat top center;
}
#loading h1 {
	font-size:28px;
}
#loading h1 span {
	font-style:italic;
	font-weight:800;
	color:#6f6;
}
#loading h2 {
	font-size:18px;
	margin-bottom:50px;
}
#loading h2 span {
	font-style:italic;
	color:#0ff;
}
#loading p {
	font-size:13px;
	margin:10px 0;
}